@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Nunito&family=Roboto+Mono&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: Roboto Mono, monospace;
	font-size: 17px;
	margin: 0px;
}

h1,h2,h3 {
	font-family: Nunito, sans-serif;
	font-weight: bold;
}

p {
	font-family: Noto Sans Display,sans-serif;
}

a {
	text-decoration-line: none;
	text-decoration: none;
	font-family: Nunito, sans-serif;
	font-weight: bold;
}